<div class="register-login-container">
  <div class="card-container">
    <div class="card shadow p-4">
      <h2 class="text-center mb-4">Registro de Usuario</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="needs-validation">
        <div class="mb-3">
          <label for="name" class="form-label">Nombre:</label>
          <input id="name" formControlName="name" type="text" class="form-control"
            [ngClass]="{'is-invalid': registerForm.get('name')?.invalid && registerForm.get('name')?.touched}" />
          <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="invalid-feedback">
            El nombre es obligatorio y debe tener al menos 2 caracteres.
          </div>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input id="email" formControlName="email" type="email" class="form-control"
            [ngClass]="{'is-invalid': registerForm.get('email')?.invalid && registerForm.get('email')?.touched}" />
          <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
            class="invalid-feedback">
            Ingresa un email válido.
          </div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Contraseña:</label>
          <input id="password" formControlName="password" type="password" class="form-control"
            [ngClass]="{'is-invalid': registerForm.get('password')?.invalid && registerForm.get('password')?.touched}" />
          <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
            class="invalid-feedback">
            La contraseña debe tener al menos 8 caracteres.
          </div>
        </div>

        <div class="mb-3">
          <label for="password_confirmation" class="form-label">Confirmar Contraseña:</label>
          <input id="password_confirmation" formControlName="password_confirmation" type="password" class="form-control"
            [ngClass]="{'is-invalid': registerForm.get('password_confirmation')?.touched && registerForm.get('password')?.value !== registerForm.get('password_confirmation')?.value}" />
          <div
            *ngIf="registerForm.get('password_confirmation')?.touched && registerForm.get('password')?.value !== registerForm.get('password_confirmation')?.value"
            class="invalid-feedback">
            La contraseña no coincide.
          </div>
        </div>

        <button type="submit" class="btn btn-primary w-100" [disabled]="registerForm.invalid">Registrarse</button>
      </form>

      <div class="text-center mt-3">
        <button routerLink="/login" class="btn btn-link">Ir a Login</button>
      </div>
    </div>
  </div>
</div>
