.posts-container {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #6a11cb, #2575fc);
  color: #fff;
}

.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #000;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.25rem;
}

.nav-link {
  transition: color 0.3s;
}

.nav-link:hover {
  color: #f0a500;
}
